<tbody>
  <td><%= customer.id %></td>
  <td><%= customer.name %></td>
  <td><%= customer.address %></td>
  <td><%= customer.zip_code %></td>
  <td><%= customer.city %></td>
  <td><%= customer.country_name %></td>
  <td><%= customer.country_code %></td>
  <td><%= customer.company_name %></td>
  <td><%= customer.user_email %></td>
</tbody>
