<!DOCTYPE html>
<html>
  <head>
    <title>Customer Import Tool</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "navbar" %>

    <div class="container main-content container-expandable">
      <%= render "flash" %>
      <%= yield %>
    </div>
  </body>
</html>
